@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "diranista";
    src: url(/fonts/DiranistaRegular.ttf);
    font-display: swap;
}

body {
    background: linear-gradient( 0deg, rgba(0, 0, 0, 1) 0%, rgba(7, 7, 161, 1) 50%, rgba(0, 0, 0, 1) 100%) fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.masthead {
    height: 25vh;
    min-height: 250px;
    background-image: url('/images/earth.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fw-bold {
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

p {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "diranista", sans-serif;
    font-size: 48px;
    text-decoration: underline;
}

h2 {
    font-family: "Poppins", sans-serif;
}

h3 {
    font-family: "Poppins", sans-serif;
}

h4 {
    font-family: "diranista", sans-serif;
    font-weight: bold;
}

h5 {
    font-family: "diranista", sans-serif;
}

.divider {
    border-bottom: 1px solid #fff;
}

.border-info {
    border: 2px solid #67e6ec;
    border-radius: 5px;
}

.border-shadow {
    box-shadow: 0 0 20px rgba(103, 230, 236, 1);
}

.bg-secondary {
    background: rgb(0, 0, 0);
    background: linear-gradient(157deg, rgba(0, 0, 0, 1) 0%, rgba(52, 52, 235, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.btn-info {
    background: rgb(0, 0, 0);
    background: linear-gradient(157deg, rgba(0, 0, 0, 1) 0%, rgba(52, 52, 235, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.canva {
    height: 100%;
    width: 100%;
    
}

.offcanvas {
    background: rgba(23, 23, 66);
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background: linear-gradient( 0deg, rgba(0, 0, 0, 1) 0%, rgba(7, 7, 161, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.navbar-toggler {
    font-size: 40px;
    color: white;
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.navbar-brand:hover {
    color: white;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
}

.navbar-nav a:hover {
    color: rgba(103, 230, 236);
}

.btn1 {
    height: 45px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(28, 31, 56, 0.657);
    font-weight: 500;
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding: 6px;
}

.btn1 ::before,
.btn1 ::after {
    position: absolute;
    content: "";
    z-index: -1;
}

.btn1 ::after {
    height: 0;
    top: 0;
    left: 0;
    transition-duration: 0.6s;
    width: 100%;
}

.btn1:hover ::after {
    height: 100%;
    background: rgba(72, 74, 102, 0.657);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 4rem;
}

.content p {
    font-size: 1rem;
}

.text-gallery {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
}

.text-gallery::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

#myImg {
    border-radius: 5px;
    border: 1px solid #67e6ec;
    box-shadow: 0 0 20px rgba(103, 230, 236, 1);
}

.offcanvas-header img {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
    background: black;
    border-top: 5px solid #3457D5;
    border-right: 5px solid #1E90FF;
    border-bottom: 5px solid #67E6EC;
    border-left: 5px solid blue;
}

.offcanvas-header h5 {
    color: #ffffff;
    margin: 10px 0 5px;
    text-align: center;
}

.offcanvas-header p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}