@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "diranista";
    src: url(/fonts/DiranistaRegular.ttf);
    font-display: swap;
}
html,
body {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 7, 161, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  ) no-repeat;
    min-height: 100%;
    min-width: 100%;
    overflow-y: auto;
}

.masthead {
  height: 25vh;
  min-height: 15.62em;
  background-image: url('/images/earth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.fw-bold {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/* dt is date posted */
dt {
    text-align: left;
}

p {
    font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "diranista", sans-serif;
  font-size: 3em;
  text-decoration: underline;
}

h2 {
    font-family: "Poppins", sans-serif;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

h4 {
  font-family: "diranista", sans-serif;
  font-weight: bold;
}

h5 {
    font-family: "diranista", sans-serif;
}

h6 {
    font-size: 0.7em;
    font-style: italic;
}

.divider {
    border-bottom: 2px solid #67e6ec;
}

.border-info {
  border: 0.125em solid #67e6ec;
  border-radius: 0.31em;
}

.border-shadow {
    box-shadow: 0 0 1.25em rgba(103, 230, 236, 1);
}

.bg-secondary {
    background: rgb(0, 0, 0);
    background: linear-gradient(157deg, rgba(0, 0, 0, 1) 0%, rgba(52, 52, 235, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.btn-info {
    background: rgb(0, 0, 0);
    background: linear-gradient(157deg, rgba(0, 0, 0, 1) 0%, rgba(52, 52, 235, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.canva {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.offcanvas {
    background: rgba(23, 23, 66);
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 7, 161, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar-toggler {
    font-size: 40px;
    color: white;
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.navbar-brand:hover {
    color: white;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
}

.navbar-nav a:hover {
    color: rgba(103, 230, 236);
}

.btn1 {
    height: 2.81em;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(28, 31, 56, 0.657);
    font-weight: 500;
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding: 6px;
}

.btn1 ::before,
.btn1 ::after {
    position: absolute;
    content: "";
    z-index: -1;
}

.btn1 ::after {
    height: 0;
    top: 0;
    left: 0;
    transition-duration: 0.6s;
    width: 100%;
}

.btn1:hover ::after {
    height: 100%;
    background: rgba(72, 74, 102, 0.657);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.content h3 {
    font-size: 4rem;
}

.content p {
    font-size: 1rem;
}

.content input {
    height: 4em;
    width: 70%;
    background: white;
    padding: 1.25em;
    border-radius: 0.3em;
    outline: none;
    border: none;
}

#myImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 85%;
    border-radius: 0.31em;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #67e6ec;
    box-shadow: 0 0 20px rgba(103, 230, 236, 1);
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75em;
    border: 2px solid #67e6ec;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75em;
    text-align: center;
    color: #ccc;
    padding: 2px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 0.62em;
    right: 1.87em;
    color: #f1f1f1;
    font-size: 2.5em;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 43.75em) {
    .modal-content {
        width: 100%;
    }
}

.text-gallery {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
}

.text-gallery::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

 .offcanvas-header img { 
   display: block; 
   width: 4.68em; 
   height: 4.68em; 
   border-radius: 50%; 
   margin: 0 auto; 
   background: black; 
   border-top: 0.31em solid #3457D5; 
   border-right: 0.31em solid #1E90FF; 
   border-bottom: 0.31em solid #67E6EC; 
   border-left: 0.31em solid blue; 

 } 
 
 .offcanvas-header h5 { 
   color: #ffffff; 
   margin: 0.62em 0 0.31em;
   text-align: center;
 }
 
 .offcanvas-header p { 
   color: rgb(206, 240, 253); 
   font-size: 0.87em;
 }