@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "diranista";
  src: url(/fonts/DiranistaRegular.ttf);
  font-display: swap;
}
html,
body {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(7, 7, 161, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    )
    no-repeat;
  min-height: 100%;
  min-width: 100%;
  overflow-y: auto;
}

/* Owl slider nav */

.owl-carousel .item-video {
  height: 200px;
  width: 400px;
  padding-right: 1px;
}

.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50px;
}

.owl-prev span,
.owl-next span {
  font-size: 80px;
  color: white;
}

.owl-theme,
.owl-nav[class*="owl-"]:hover {
  background: transparent;
}
/* Owl slider nav end */

.masthead {
  height: 25vh;
  min-height: 250px;
  background-image: url("/images/banner/banner-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 2;
}

.fw-bold {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.fw-bold-title {
  font-size: 20px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.border-info {
  border: 2px solid #67e6ec;
  border-radius: 5px;
}

.border-info-bottom {
  border-bottom: 2px solid #67e6ec;
  border-top: 2px solid #67e6ec;
  border-radius: 5px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #67e6ec;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/* Gold text gradient */
.golden-base {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-margin-before: 0.3em;
  -webkit-margin-after: 0.2em;
}
.golden1 {
  background-image: -webkit-linear-gradient(#fff65c, #3a2c00);
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.6);
  font-size: 2.5em;
}
.golden2 {
  background-image: -webkit-linear-gradient(
    #e8d800,
    #e0cf00 52%,
    #a86800 55%,
    #a86800
  );
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 255, 0, 0.56);
  font-size: 2.5em;
}
.golden3 {
  background-image: -webkit-linear-gradient(#fff65c 45%, #524402 75%);
  -webkit-text-stroke: 0.01em white;
  font-size: 2.5em;
  text-shadow:
    0 3px 20px red,
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow,
    0 -10px 30px yellow;
  animation: animate 2s infinite alternate linear;
}

@keyframes  animate {
  0% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 0 10px orange,
      0 0 0 yellow,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      4px -10px 10px yellow;
  }
  25% {
    text-shadow:
      0 3px 20px red,
      0 0 30px red,
      0 0 20px orange,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      3px -10px 10px yellow,
      -4px -15px 20px yellow;
  }
  50% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 -5px 10px orange,
      -2px -5px 5px yellow,
      3 -10px 10px yellow,
      -4px -15px 20px yellow,
      2px -20px 30px rgba(255,255,0,0.5);
  }
  75% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 -5px 10px orange,
      3 -5px 5px yellow,
      -4px -10px 10px yellow,
      2px -20px 30px rgba(255,255,0,0.5),
      0 -25px 40px rgba(255,255,0,0);
  }
  100% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 0 10px orange,
      0 0 0 yellow,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      4px -10px 10px yellow;
  }
}

h1 {
  font-family: "Sans-Serif", sans-serif;
  font-size: 2.5em;
  /*text-decoration: underline;*/
}

h2 {
  font-family: "diranista", sans-serif;
  text-decoration: underline;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: white;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.35em;
  color: #67e6ec;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h5 {
  font-family: "diranista", sans-serif;
  font-size: 1.21em;
  color: #67e6ec;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.canva {
  min-height: 100%;
  min-width: 100%;
  overflow-y: auto;
}

.offcanvas {
  background: rgba(23, 23, 66);
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 7, 161, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar-toggler {
  font-size: 40px;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  color: white;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}

.navbar-nav a:hover {
  color: rgba(103, 230, 236);
}

.btn1 {
  height: 2.81em;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-weight: 900;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 6px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.content h1 {
  font-size: 4rem;
}

.content p {
  font-size: 1rem;
}

.content input {
  height: 65px;
  width: 70%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.text-gallery {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.text-gallery::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.card {
  padding-bottom: 2px;
  border-radius: 1.5rem;
  border-radius: 5px;
  border: 2px solid #67e6ec;
  /*box-shadow: 0 0 20px rgba(103, 230, 236, 1);*/
}

.card-1 {
  width: 305px;
  height: 205px;
  position: center;
  margin-right: 25%;
  border-radius: 1.5rem;
  border-radius: 5px;
  border: 2px solid #67e6ec;
}

.card-body {
  margin-right: 5px;
  padding-bottom: 5px;
}

.offcanvas-header img {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto;
  background: black;
  border-top: 5px solid #3457d5;
  border-right: 5px solid #1e90ff;
  border-bottom: 5px solid #67e6ec;
  border-left: 5px solid blue;
}

.offcanvas-header h5 {
  color: #ffffff;
  margin: 10px 0 5px;
  text-align: center;
}

.offcanvas-header p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.carousel {
  overflow: hidden;
  padding-bottom: 4rem;
}
.carousel-caption {
  top: 100%;
}
.carousel-inner {
  overflow: visible;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: 4rem;
}
.carousel-indicators {
  bottom: 1rem;
  padding: 10px;
}
