@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "diranista";
  src: url(/fonts/DiranistaRegular.ttf);
  font-display: swap;
}
html,
body {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(7, 7, 161, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    )
    no-repeat;
  min-height: 100%;
  min-width: 100%;
  overflow-y: auto;
}

/* ticker */
.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  border-radius: 15px;
  border: 0.125em solid #67e6ec;
  background: linear-gradient(
    157deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 235, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 10px 0;
}

.ticker-content {
  display: inline-block;
  color: white;
  padding-left: 100%;
  animation: ticker-scroll 15s linear infinite; /* Adjusted to 15s */
}

.ticker-content span {
  margin-right: 50px;
  font-size: 1.2rem;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card-img-top {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

/* Owl slider nav */
.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50px;
}

.owl-prev span,
.owl-next span {
  font-size: 80px;
  color: white;
}

.owl-theme,
.owl-nav[class*="owl-"]:hover {
  background: transparent;
}
/* Owl slider nav end */

.masthead {
  height: 25vh;
  min-height: 15.62em;
  background-image: url("/images/banner/banner-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 2;
}

.fw-bold {
  font-family: "Sans-Serif", sans-serif;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* dt is date posted */
dt {
  text-align: left;
}

p {
  font-family: "Poppins", sans-serif;
}

/* Gold text gradient */
.golden-base {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-margin-before: 0.3em;
  -webkit-margin-after: 0.2em;
}
.golden1 {
  background-image: -webkit-linear-gradient(#fff65c, #3a2c00);
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.6);
  font-size: 2.5em;
}
.golden2 {
  background-image: -webkit-linear-gradient(
    #e8d800,
    #e0cf00 52%,
    #a86800 55%,
    #a86800
  );
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 255, 0, 0.56);
  font-size: 2.5em;
}
.golden3 {
  -webkit-text-stroke: 0.01em white;
  font-size: 2.5em;
  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: animate 2s infinite alternate linear;
}

@keyframes animate {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange, 0 0 5px yellow,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px yellow, 3 -10px 10px yellow, -4px -15px 20px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3 -5px 5px yellow, -4px -10px 10px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5), 0 -25px 40px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
}

h1 {
  font-family: "Sans-Serif", sans-serif;
  font-size: 2.5em;
  /*text-decoration: underline;*/
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

h4 {
  font-family: "diranista", sans-serif;
  font-weight: bold;
}

h5 {
  font-family: "diranista", sans-serif;
}

h6 {
  font-size: 0.7em;
  font-style: italic;
}

.divider {
  border-bottom: 2px solid #67e6ec;
}

.border-info {
  border: 0.125em solid #67e6ec;
  border-radius: 0.31em;
}

.border-shadow {
  box-shadow: 0 0 1.25em rgba(103, 230, 236, 1);
}

.bg-secondary {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    157deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 235, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.btn-info {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    157deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 235, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.canva {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.offcanvas {
  background: rgba(23, 23, 66);
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 7, 161, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar-toggler {
  font-size: 40px;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  color: white;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}

.navbar-nav a:hover {
  color: rgba(103, 230, 236);
}

.btn1 {
  height: 2.81em;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-weight: 900;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 6px;
}

.link {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(4, 23, 194, 0.657);
  font-weight: 900;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 1px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.content h3 {
  font-size: 4rem;
}

.content p {
  font-size: 1rem;
}

.content input {
  height: 4em;
  width: 70%;
  background: white;
  padding: 1.25em;
  border-radius: 0.3em;
  outline: none;
  border: none;
}

#myImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 85%;
  border-radius: 0.31em;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #67e6ec;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 10px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 43.75em;
  border: 2px solid #67e6ec;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 43.75em;
  text-align: center;
  color: #ccc;
  padding: 2px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  color: #f1f1f1;
  font-size: 2.5em;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 43.75em) {
  .modal-content {
    width: 100%;
  }
}

.text-gallery {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.text-gallery::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

.offcanvas-header img {
  display: block;
  width: 4.68em;
  height: 4.68em;
  border-radius: 50%;
  margin: 0 auto;
  background: black;
  border-top: 0.31em solid #3457d5;
  border-right: 0.31em solid #1e90ff;
  border-bottom: 0.31em solid #67e6ec;
  border-left: 0.31em solid blue;
}

.offcanvas-header h5 {
  color: #ffffff;
  margin: 0.62em 0 0.31em;
  text-align: center;
}

.offcanvas-header p {
  color: rgb(206, 240, 253);
  font-size: 0.87em;
}
