@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "diranista";
  src: url(/fonts/DiranistaRegular.ttf);
  font-display: swap;
}

body {
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
  overflow-y: auto;
}

.masthead {
  height: 25vh;
  min-height: 250px;
  background-image: url('/images/earth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fw-bold {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.border-info {
  border: 2px solid #67e6ec;
  border-radius: 5px;
}

h1 {
  font-family: "diranista", sans-serif;
  font-size: 48px;
  text-decoration: underline;
}

h5 {
  font-family: "diranista", sans-serif;
}

.canva {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.offcanvas {
  background: rgba(23, 23, 66);
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 7, 161, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar-toggler {
  font-size: 40px;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  color: white;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}

.navbar-nav a:hover {
  color: rgba(103, 230, 236);
}
 .offcanvas-header img { 
   display: block; 
   width: 75px; 
   height: 75px; 
   border-radius: 50%; 
   margin: 0 auto; 
   background: black; 
   border-top: 5px solid #3457D5; 
   border-right: 5px solid #1E90FF; 
   border-bottom: 5px solid #67E6EC; 
   border-left: 5px solid blue; 
 } 
 
 .btn1 {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(28, 31, 56, 0.657);
  font-weight: 500;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 6px;
}

.btn1 ::before,
.btn1 ::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.btn1 ::after {
  height: 0;
  top: 0;
  left: 0;
  transition-duration: 0.6s;
  width: 100%;
}

.btn1:hover ::after {
  height: 100%;
  background: rgba(72, 74, 102, 0.657);
}


 .offcanvas-header h5 { 
   color: #ffffff; 
   margin: 10px 0 5px;
   text-align: center;
 }
 
 .offcanvas-header p { 
   color: rgb(206, 240, 253); 
   font-size: 14px;
 }
 .card {
  background: #000000d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  
}

button_1 {
  margin: 1.7em;
  border-radius: 50%;
  border: none;
  height: 45px;
  width: 45px;
  outline: none;
  background: #7c7c7c2b;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.searchbar {
  border: 2px solid whitesmoke;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: whitesmoke;
  font-family: inherit;
  font-size: 100%;
  width: calc(100% - 100px);
}

button_1:hover {
  background: white;
  color: black;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after{
  visibility: visible;
  content: "Loading....";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.card:hover {
  box-shadow: 5px 5px 5px #00000056;
}

.searchbar:hover {
  transform: scale(1.07);
}
.separator{
height: 1px;
width: 100%;
margin: 25px 0;
background: #ccc;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

image{
  height:50px;
  width: 50px;
}