@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "diranista";
  src: url(/fonts/DiranistaRegular.ttf);
  font-display: swap;
}

html,
body {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(7, 7, 161, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    )
    no-repeat;
  min-height: 100%;
  min-width: 100%;
  overflow-y: auto;
}

.masthead {
  height: 25vh;
  min-height: 15.62em;
  background-image: url("/images/banner/banner-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 2;
}

.fw-bold {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.border-info {
  border: 2px solid #67e6ec;
  border-radius: 5px;
}

/* Gold text gradient */
.golden-base {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-margin-before: 0.3em;
  -webkit-margin-after: 0.2em;
}
.golden1 {
  background-image: -webkit-linear-gradient(#fff65c, #3a2c00);
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.6);
  font-size: 2.5em;
}
.golden2 {
  background-image: -webkit-linear-gradient(
    #e8d800,
    #e0cf00 52%,
    #a86800 55%,
    #a86800
  );
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 255, 0, 0.56);
  font-size: 2.5em;
}
.golden3 {
  -webkit-text-stroke: 0.01em white;
  font-size: 2.5em;
  text-shadow:
    0 3px 20px red,
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow,
    0 -10px 30px yellow;
  animation: animate 2s infinite alternate linear;
}

@keyframes  animate {
  0% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 0 10px orange,
      0 0 0 yellow,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      4px -10px 10px yellow;
  }
  25% {
    text-shadow:
      0 3px 20px red,
      0 0 30px red,
      0 0 20px orange,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      3px -10px 10px yellow,
      -4px -15px 20px yellow;
  }
  50% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 -5px 10px orange,
      -2px -5px 5px yellow,
      3 -10px 10px yellow,
      -4px -15px 20px yellow,
      2px -20px 30px rgba(255,255,0,0.5);
  }
  75% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 -5px 10px orange,
      3 -5px 5px yellow,
      -4px -10px 10px yellow,
      2px -20px 30px rgba(255,255,0,0.5),
      0 -25px 40px rgba(255,255,0,0);
  }
  100% {
    text-shadow:
      0 3px 20px red,
      0 0 20px red,
      0 0 10px orange,
      0 0 0 yellow,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      4px -10px 10px yellow;
  }
}


h1 {
  font-family: "diranista", sans-serif;
  font-size: 48px;
}

h5 {
  font-family: "diranista", sans-serif;
}

.canva {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.offcanvas {
  background: rgba(23, 23, 66);
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 7, 161, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar-toggler {
  font-size: 40px;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  color: white;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}

.navbar-nav a:hover {
  color: rgba(103, 230, 236);
}
.offcanvas-header img {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto;
  background: black;
  border-top: 5px solid #3457d5;
  border-right: 5px solid #1e90ff;
  border-bottom: 5px solid #67e6ec;
  border-left: 5px solid blue;
}

.btn1 {
  height: 45px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-weight: 500;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 6px;
}

.btn1 ::before,
.btn1 ::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.btn1 ::after {
  height: 0;
  top: 0;
  left: 0;
  transition-duration: 0.6s;
  width: 100%;
}

.btn1:hover ::after {
  height: 100%;
  background: rgba(72, 74, 102, 0.657);
}

.offcanvas-header h5 {
  color: #ffffff;
  margin: 10px 0 5px;
  text-align: center;
}

.offcanvas-header p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}
.card {
  background: #000000d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  width: auto;
  max-width: 420px;
  margin: 1em;
  justify-content: center;
}


